[user]
    name = Mark Neves
    email = mneves@gmail.com
    
[github]
    user = MarkNeves

[core]
    excludesfile = ~/.gitignore
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[apply]
      whitespace = nowarn
      
[diff]
    tool = vimdiff

[difftool]
    prompt = false

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[alias]
    st = status
    ci = commit
    cm = commit -m
    ca = commit -amend
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    ls = ls-files
    lg = log --graph --pretty=format:'%Cred%h%Creset %Cgreen(%cr)%Creset%x09%C(yellow)%d%Creset %s' --abbrev-commit --date=relative
