#!/bin/sh
export PATH
export DE=xfce
setxkbmap -option terminate:ctrl_alt_bksp &

#set up xorg stuff
xset fp+ /usr/share/fonts/local
xset fp rehash
xset +dpms
xset dpms 0 0 300

#init
autowifi.py
syndaemon -i 1 -d -t -K
amixer set Speaker 100%
amixer set Headphone 100%
amixer set Master 80%
xbindkeys
autorandr